Welcome
It's <%= Time.now %> 
We have <%= pluralize(@total_orders, "order") %>.
<div> 
<%= link_to 'Products', products_path %>
</div>
<% if session[:user_id] %>

   <h4 class="opt"> <%= link_to 'Orders', orders_path %>
   <%= link_to 'Products', products_path %>
   <%= link_to 'Users', users_path %></h4>
   <%end%>