<section>

  <h3><%= link_to product.name,product%></h3>
<p><%=product.description %></p>
  
  <div class="product">
 
 
  
  <% if product.image_file %>
    <p><%= image_tag product.image_file,:width => '200' %></p>
  <% end %>
  
  <p>
    <%= product.description %>
  </p>
  
  <p>
    <strong>Price:</strong>
    <%= number_to_currency(product.price) %>
  </p>
  <% if product.category %>
    <p>Category: <%= product.category.cname %></p>
  <% end %>
  

  
</div>
</section>